@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto Condensed", sans-serif;
}
#title{
    text-align: center;
    margin-bottom: 20px;
}
#graph{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#legend{
    position: fixed;
    bottom: 280px;
    left: 1000px;
}

#tooltip{
    background-color: rgba(32, 157, 163, 0.642);
    position: fixed;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    text-align:center;
    text-justify: auto;
    font-size:small;
    font-weight: bold;

}

#author{
    text-align: center;
}
a{
    text-decoration: none;
}
a:link{
    color: black;
}
