@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto Condensed", sans-serif;
}
#title{
    text-align: center;
    margin-bottom: 30px;
}
#graph{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#legend{
    position: fixed;
    bottom: 280px;
    left: 1000px;
}

#tooltip{
    background-color: red;
    position: fixed;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    text-align:center;
    text-justify: auto;
    font-size:medium;
    font-weight: bold;


}